body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #007bff; /* Color azul */
}

/* Estilos para los párrafos */
p {
    margin: 20px auto;
    max-width: 800px; /* Ancho máximo del contenido */
    text-align: justify;
}

/* Estilos para la imagen */
img {
    display: block;
    margin: 20px auto;
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para el enlace */
a {
    color: #007bff; /* Color azul */
    text-decoration: none;
    transition: color 0.3s; /* Transición suave del color */
}

a:hover {
    color: #0056b3; /* Color azul más oscuro al pasar el mouse */
}
