body {
    background-color: rgb(215, 179, 248);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p {
    line-height: 1.5;
}

img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr {
    margin: 20px 0;
}

ol {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}
